/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 5);
  z-index: 9999;
  display: block;
  align-items: center;
  justify-content: center;
}
.modal.show{
    display: flex;
}
.modal-content{
    background: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-block: 60px;
    max-width: 400px;
    width: 100%;
}
.close-modal{
    position: absolute;
    top: 20px;
    right: 20px;

}
.modal input{
    width: 100%;
    border: 1px solid teal;
    border-radius: 8px;
    padding: 8px 10px;
} */
 .error-msg{
    color: red;
    font-size: 600;
    display: block;
    margin-bottom: 10px;
 }